@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
.contact__container {
  grid-template-columns: 4fr 8fr;
}
.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
}
.contact__description {
  font-size: var(--small-font-size);
  line-height: 1.6;
}

.contact__description,
.contact__info,
.info__item {
  margin-bottom: 20px;
}

.contact__info .info__item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.contact__info .info__icon {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}
.contact__info .info__title {
  font-size: var(--small-font-size);
}
.contact__info .info__desc {
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: var(--weight-500);
}
.contact__socials {
  display: flex;
  column-gap: 16px;
}

.contact__social-link {
  text-align: center;
  line-height: 44px;
  width: 40px;
  height: 40px;
  color: var(--title-color);
  background-color: var(--container-color);
  border-radius: 50%;
  text-align: center;
}
.contact__social-link:hover {
  background-color: var(--first-color);
  color: var(--text-white);
  transform: scale(1.1)!important;
}

.form__input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}
.form__input-div {
    margin-bottom: 30px;
  
}

.form__control {
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  color: var(--title-color);
  width: 100%;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: var(--small-font-size);
  transition: all 0.3s ease;
}

.form__control:focus {
    border-radius: 30px;
    border-color: var(--first-color);
}
.textarea {
  resize: none;
  height: 160px;
}
.contact__button-icon{
  line-height: 64px;
  font-size: var(--h3-font-size);
}
.success-popup{
  z-index: 1000;
  position:fixed;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 240, 238);
  color: black;
  display: grid;
  justify-items: center;
  align-items: center;
  /* transform: translateX(0); */
  transition: all 0.5s ease;
  box-shadow:  0 4px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  height: 310px;
  width: 300px;
  text-align: center;
  
}
.tick{
  position: absolute;
  top: -10%;
  padding: 10px;
  background-color: rgba(255, 225, 182, 0.986);
  border-radius: 50%;
}
.messagee{
  margin-top: 70px;
  font-size: large;
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
}
.span{
  color: rgb(14, 197, 14);
  font-size: 22px;
  line-height: 2.5;
}
.success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black background with 50% opacity */
  z-index: 999; /* Ensure the overlay is on top of other elements */
}
.closebtn{
  background-color: var(--first-color);
  display: block;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: all 0.5s ease;
  font-size: 17px;
  color: var(--text-white);
}
.closebtn:hover, .closebtn:focus{
  transform: scale(1.02);
  opacity: 1.08;
}