@media screen and (max-width: 1400px) {
    .container{
        max-width: calc(100% - 180px);
    }
}
@media screen and (max-width: 1200px) {
    .grid{
       gap: 20px;
    }
    .home__data{
        padding-right: 50px;
    }
    .home__title{
        font-size: clamp(1.75rem, 3vw, 2.35rem);
    }
    .home__description{
        font-size: var(--small-font-size);
    }
    .resume__icon{
        width: 36px;
        height: 36px;
        line-height: 38px;
    }
    .resume__item{
        padding-left: 55px;
    }
    .portfolio__model-content{
        max-width: 600px;
    }
    .model__close{
        width: 40px;
        height: 40px;
    }
    .form__input-group{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 24px;
    }
    .form__input-group .form__input-div:last-child{
        grid-column: 1/-1;
    }
    .form__input-div{
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 1024px) {
    .container{
        max-width: 720px;
    }
    .home__data{
        padding-right: 0;
    }
    .section{
        padding-block: 50px;
    }
    .section__title{
        margin-bottom: 40px;
    }
    .about__container, .resume__container, .contact__container{
        grid-template-columns: 1fr;
    }
    .about__container{
        row-gap: 40px;
    }
    .subtitle__center{
        margin-bottom: 45px;
    }
    .skill-groups{
        grid-template-columns: repeat(2, 1fr);
    }
    .resume__container{
        row-gap: 45px;
    }
    .resume__item:not(:last-child){
        margin-bottom: 45px;
    }
    .seperator{
        margin: 65px auto 50px;
    }
    .portfolio__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact__container{
        row-gap: 48px;
    }
}
@media screen and (max-width:820px) {
    :root{
        --h1-font-size:35px;
        --h2-font-size:30px;
    }

}
@media screen and (max-width:768px) {
    :root{
        --h1-font-size:35px;
        --h2-font-size:28px;
    }
    .home{
        padding: 5rem 0 2rem;
    }
    .color__block{
        display: none;
    }
    .home__content {
        max-width: 500px;
        text-align: center;
        margin-bottom: auto;
    }
    .home__title{
        padding-left: 0;
    }
    .home__title::before{
        all: unset;
    }
    .home__title span{
        display: block;
    }
    .container{
        max-width: 540px;
    }
    .portfolio__model-content{
        padding:25px 20px;
    }
    .model__close{
        top: 9%;
        right: 0;
    }

}
@media screen and (max-width:576px) {
    
.nav__toggle{
    top: 20px;
    right: 15px;
}
.nav__link{
    column-gap: 20px;
}
.nav__icon,
.nav__name{
  font-size: var(--h3-font-size);
}
.style__switcher{
    position: fixed;
    left: 0;
    top: 0;
}
.skill-groups{
    grid-template-columns: 1fr;
}
.portfolio__container{
    grid-template-columns: 1fr;
}
.home__title span{
    font-size: var(--h2-font-size) !important;
    color: var(--title-color);
    display: block;
}
.model__list{
    grid-template-columns: 1fr;
}
.model__img{
    height: 200px;
}
.form__input-group{
    grid-template-columns: 1fr;
}
.theme__img{
    width: 25px;
}
.style__switcher-toggler,
.theme__toggler{
    width: 40px;
    height: 40px;
}
.style__switcher-toggler{
    top: 15%;
}
.theme__toggler{
    bottom: 15%;
}
.style__switcher-close{
    top: 5%;
}
}
@media screen and (max-width:450px) {
    /* .home_img{
        display: none;
    } */
    .home__title{
        font-size: var(--h1-font-size);
    }
    .home__description,
    .home_description{
        text-align: left;
    }
    .info__title{
        display: block;
        margin-bottom: 4px;
    }
}
@media screen and (max-width:350px) {
    :root{
        --h1-font-size:27px;
        --h2-font-size:24px;
    }
    .home__title span{
        display: inline;
    }
}

